<section class="actions-block mt-12 sm:mt-16">
    <div class="container flex flex-wrap xl:flex-no-wrap">
        <div class="flex flex-col justify-center flex-wrap w-full xl:w-5/12 flex-shrink-0 border border-#D0D0D0 px-4 sm:px-5 xl:pl-12 py-5 sm:py-12">
            <div class="xl:w-11/12 xxl:w-10/12">
                <div class="text-lg sm:text-2xl font-semibold">
                    Подпишитесь на рассылку
                </div>
                <div class="text-sm sm:text-lg font-light mt-2">
                    <p>
                        Получайте полезные статьи, информацию о скидках и персональные услоия для покупки. Без спама.
                    </p>
                </div>
                <form class="flex w-full flex-col mt-3">
                    <div class="flex">
                        <input type="email" name="email"
                               class="bg-white border border-#D0D0D0 h-10 flex w-10 flex-grow text-xs sm:text-sm pl-2 sm:pl-4"
                               placeholder="E-mail">
                        <button type="submit"
                                class="input-button text-xs sm:text-sm font-semibold flex items-center justify-center px-4">
                            Подписаться
                        </button>
                    </div>
                    <div class="mt-4">
                        <label class="flex items-center">
                            <div class="checkbox path flex-shrink-0">
                                <input class="mr-3" type="checkbox" checked>
                                <svg class="inline-flex mr-4" viewBox="0 0 21 21">
                                    <path d="M5,10.75 L8.5,14.25 L19.4,2.3 C18.8333333,1.43333333 18.0333333,1 17,1 L4,1 C2.35,1 1,2.35 1,4 L1,17 C1,18.65 2.35,20 4,20 L17,20 C18.65,20 20,18.65 20,17 L20,7.99769186"></path>
                                </svg>
                            </div>
                            <span class="text-xs text-gray font-light">
                                Я согласен с
                                <a href="politic" target="_blank" class="underline">
                                    политикой конфиденциальности и условиями подписки
                                </a>
                            </span>
                        </label>
                    </div>
                </form>
            </div>
        </div>
        <div class="flex flex-col flex-grow border border-#D0D0D0 -mt-px xl:mt-0 xl:-ml-px ml-0 px-4 sm:px-8 py-5">
            <div class="flex items-center justify-between">
                <h3 class="mr-4 mb-0">
                    Акции
                </h3>
                <div class="text-sm sm:text-base font-medium ml-auto leading-none">
                    <a href="#" class="hover:opacity-75">Все акции</a>
                </div>
            </div>
            <div class="flex flex-wrap justify-between -mx-2">
                <div class="action-item flex flex-col px-2 mt-5">
                    <div class="text-gray text-xs font-normal">23.03.2020</div>
                    <div class="text-dark text-sm xxl:text-base font-normal mt-1">
                        Умный Щит. ГРЩ ВРУ РУ НКУ SCADA. Диспетчеризация, мониторинг. Изготовление по Техническому
                        Заданию.
                    </div>
                </div>
                <div class="action-item flex flex-col px-2 mt-5">
                    <div class="text-gray text-xs font-normal">23.03.2020</div>
                    <div class="text-dark text-sm xxl:text-base font-normal mt-1">
                        Умный Щит. ГРЩ ВРУ РУ НКУ SCADA. Диспетчеризация, мониторинг. Изготовление по Техническому
                        Заданию.
                    </div>
                </div>
                <div class="action-item flex flex-col px-2 mt-5">
                    <div class="text-gray text-xs font-normal">23.03.2020</div>
                    <div class="text-dark text-sm xxl:text-base font-normal mt-1">
                        Умный Щит. ГРЩ ВРУ РУ НКУ SCADA. Диспетчеризация, мониторинг. Изготовление по Техническому
                        Заданию.
                    </div>
                </div>
                <div class="action-item flex flex-col px-2 mt-5">
                    <div class="text-gray text-xs font-normal">23.03.2020</div>
                    <div class="text-dark text-sm xxl:text-base font-normal mt-1">
                        Умный Щит. ГРЩ ВРУ РУ НКУ SCADA. Диспетчеризация, мониторинг. Изготовление по Техническому
                        Заданию.
                    </div>
                </div>
                <div class="action-item flex flex-col px-2 mt-5">
                    <div class="text-gray text-xs font-normal">23.03.2020</div>
                    <div class="text-dark text-sm xxl:text-base font-normal mt-1">
                        Умный Щит. ГРЩ ВРУ РУ НКУ SCADA. Диспетчеризация, мониторинг. Изготовление по Техническому
                        Заданию.
                    </div>
                </div>
                <div class="action-item flex flex-col px-2 mt-5">
                    <div class="text-gray text-xs font-normal">23.03.2020</div>
                    <div class="text-dark text-sm xxl:text-base font-normal mt-1">
                        Умный Щит. ГРЩ ВРУ РУ НКУ SCADA. Диспетчеризация, мониторинг. Изготовление по Техническому
                        Заданию.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>