<div class="flex flex-grow flex-no-wrap lg:flex-wrap overflow-x-scroll lg:overflow-x-visible mt-8 sm:mt-0 pb-2 -mx-4">
    <div class="item item_lg mt-5 px-4">
        <div class="item__inner flex flex-wrap h-full flex-wrap">
            <div class="flex flex-col w-full xl:w-1/2 xl:pr-2">
                <div class="item__brand flex justify-between">
                    <a href="#" class="mr-3">Schneider Electric</a>
                    <span class="hidden lg:inline-flex uppercase text-xs font-normal">BLNRS001011</span>
                </div>
                <a href="#" class="item__img-wrap items-start mx-auto mt-2">
                    <img src="img/products/product-lg.jpg"
                         alt="BLNRS001011 BLANCA С/У РОЗЕТКА 2К+З, б/ш,16А, 250В, БЕЛЫЙ"
                         title="BLNRS001011 BLANCA С/У РОЗЕТКА 2К+З, б/ш,16А, 250В, БЕЛЫЙ">
                </a>
            </div>
            <div class="flex flex-col w-full xl:w-1/2 xl:pl-2">
                <div class="item__bonus xl:ml-auto mt-2 xl:mt-0">
                    +90 бонусов
                </div>
                <a href="#" class="item__name my-2">
                    BLNRS001011 BLANCA С/У РОЗЕТКА 2К+З, б/ш,16А, 250В, БЕЛЫЙ
                </a>
                <div class="item__desc hidden xl:flex text-sm mt-4">
                    <div>
                        <p>
                            Артикул: <span class="font-normal">EZ9F34125 </span>
                        </p>
                        <p>
                            Производитель: <a href="#" class="font-normal underline">Schneider Electric</a>
                        </p>
                        <p>
                            Степень защиты (IP): <span class="font-normal">0</span>
                        </p>
                        <p>
                            Тип напряжения: <span class="font-normal">AC (перемен.) </span>
                        </p>
                        <p>
                            Номин. (расчетное) напряжение: <span class="font-normal">230 В</span>
                        </p>
                        <p>
                            Глубина установочная (встраив.): <span class="font-normal">66.5мм</span>
                        </p>
                        <p>
                            Номин. ток: <span class="font-normal">25 А */</span>
                        </p>
                    </div>
                </div>
                <div class="item-price whitespace-no-wrap flex justify-between items-end mt-auto">
                    <div class="flex flex-col order-last">
                        <div class="item-price__old flex flex-grow justify-end">
                            <span>1999</span><span>₽</span>
                        </div>
                        <div class="flex justify-end leading-none mb-1 lg:mb-3 mt-2">
                            <span>245 600</span><span>₽</span>
                        </div>
                    </div>
                    <div class="flex">
                        <button class="add-to-cart-button add-to-cart-button_full">
                            <span class="flex items-center justify-center w-full h-full">
                                <span class="add-to-cart-button__add-text hidden lg:inline-flex">+ В корзину</span>
                                <span class="add-to-cart-button__added-text hidden">Добавлено</span>
                                <img class="add-to-cart-button__cart-img lg:hidden" src="img/icons/add-to-cart.svg">
                                <img class="add-to-cart-button__add-img lg:hidden" src="img/icons/correct.svg">
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="item item_md mt-5 px-4">
        <div class="item__inner flex h-full w-full flex-col">
            <div class="item__brand flex justify-between">
                <a href="#" class="mr-3">Schneider Electric</a>
                <span class="hidden lg:inline-flex uppercase text-xs font-normal">BLNRS001011</span>
            </div>
            <a href="#" class="item__img-wrap items-start mx-auto mt-2">
                <img src="img/products/product-lg.jpg" class=""
                     alt="BLNRS001011 BLANCA С/У РОЗЕТКА 2К+З, б/ш,16А, 250В, БЕЛЫЙ"
                     title="BLNRS001011 BLANCA С/У РОЗЕТКА 2К+З, б/ш,16А, 250В, БЕЛЫЙ">
            </a>
            <div class="item__bonus mt-2">
                +90 бонусов
            </div>
            <a href="#" class="item__name my-2">
                BLNRS001011 BLANCA С/У РОЗЕТКА 2К+З, б/ш,16А, 250В, БЕЛЫЙ
            </a>
            <div class="item-price whitespace-no-wrap flex justify-between items-end mt-auto">
                <div class="flex flex-col order-last">
                    <div class="item-price__old flex flex-grow justify-end">
                        <span>1999</span><span>₽</span>
                    </div>
                    <div class="flex justify-end leading-none mb-1 lg:mb-3 mt-2">
                        <span>245 600</span><span>₽</span>
                    </div>
                </div>
                <div class="flex">
                    <button class="order-button order-button_full">
                        <span class="flex items-center justify-center w-full h-full">
                            <img class="mx-auto lg:hidden" src="img/icons/order-button.svg">
                            <span class="hidden lg:inline-flex">
                                + Заказать
                            </span>
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="item item_md mt-5 px-4">
        <div class="item__inner flex h-full w-full flex-col">
            <div class="item__brand flex justify-between">
                <a href="#" class="mr-3">Schneider Electric</a>
                <span class="hidden lg:inline-flex uppercase text-xs font-normal">BLNRS001011</span>
            </div>
            <a href="#" class="item__img-wrap items-start mx-auto mt-2">
                <img src="img/products/product-lg.jpg" class=""
                     alt="BLNRS001011 BLANCA С/У РОЗЕТКА 2К+З, б/ш,16А, 250В, БЕЛЫЙ"
                     title="BLNRS001011 BLANCA С/У РОЗЕТКА 2К+З, б/ш,16А, 250В, БЕЛЫЙ">
            </a>
            <div class="item__bonus mt-2">
                +90 бонусов
            </div>
            <a href="#" class="item__name my-2">
                BLNRS001011 BLANCA С/У РОЗЕТКА 2К+З, б/ш,16А, 250В, БЕЛЫЙ
            </a>
            <div class="item-price whitespace-no-wrap flex justify-between items-end mt-auto">
                <div class="flex flex-col order-last">
                    <div class="item-price__old flex flex-grow justify-end">
                        <span>1999</span><span>₽</span>
                    </div>
                    <div class="flex justify-end leading-none mb-1 lg:mb-3 mt-2">
                        <span>245 600</span><span>₽</span>
                    </div>
                </div>
                <div class="flex">
                    <button class="add-to-cart-button add-to-cart-button_full">
                        <span class="flex items-center justify-center w-full h-full">
                            <span class="add-to-cart-button__add-text hidden lg:inline-flex">+ В корзину</span>
                            <span class="add-to-cart-button__added-text hidden">Добавлено</span>
                            <img class="add-to-cart-button__cart-img lg:hidden" src="img/icons/add-to-cart.svg">
                            <img class="add-to-cart-button__add-img lg:hidden" src="img/icons/correct.svg">
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="item item_sm mt-5 px-4">
        <div class="item__inner flex h-full w-full flex-col">
            <a href="#" class="item__brand">
                Schneider Electric
            </a>
            <a href="#" class="item__img-wrap items-start mx-auto mt-2">
                <img src="img/products/product-lg.jpg" class=""
                     alt="BLNRS001011 BLANCA С/У РОЗЕТКА 2К+З, б/ш,16А, 250В, БЕЛЫЙ"
                     title="BLNRS001011 BLANCA С/У РОЗЕТКА 2К+З, б/ш,16А, 250В, БЕЛЫЙ">
            </a>
            <div class="item__bonus mt-2">
                +90 бонусов
            </div>
            <a href="#" class="item__name my-2">
                BLNRS001011 BLANCA С/У РОЗЕТКА 2К+З, б/ш,16А, 250В, БЕЛЫЙ
            </a>
            <div class="item-price whitespace-no-wrap flex justify-between items-end mt-auto">
                <div class="flex flex-col order-last">
                    <div class="item-price__old flex flex-grow justify-end">
                        <span>1999</span><span>₽</span>
                    </div>
                    <div class="flex justify-end leading-none mb-1 mt-2">
                        <span>245 600</span><span>₽</span>
                    </div>
                </div>
                <div class="flex">
                    <button class="order-button">
                        <img class="mx-auto" src="img/icons/order-button.svg">
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="item item_sm mt-5 px-4">
        <div class="item__inner flex h-full w-full flex-col">
            <a href="#" class="item__brand">
                Schneider Electric
            </a>
            <a href="#" class="item__img-wrap items-start mx-auto mt-2">
                <img src="img/products/product-lg.jpg" class=""
                     alt="BLNRS001011 BLANCA С/У РОЗЕТКА 2К+З, б/ш,16А, 250В, БЕЛЫЙ"
                     title="BLNRS001011 BLANCA С/У РОЗЕТКА 2К+З, б/ш,16А, 250В, БЕЛЫЙ">
            </a>
            <div class="item__bonus mt-2">
                +90 бонусов
            </div>
            <a href="#" class="item__name my-2">
                BLNRS001011 BLANCA С/У РОЗЕТКА 2К+З, б/ш,16А, 250В, БЕЛЫЙ
            </a>
            <div class="item-price whitespace-no-wrap flex justify-between items-end mt-auto">
                <div class="flex flex-col order-last">
                    <div class="item-price__old flex flex-grow justify-end">
                        <span>1999</span><span>₽</span>
                    </div>
                    <div class="flex justify-end leading-none mb-1 mt-2">
                        <span>245 600</span><span>₽</span>
                    </div>
                </div>
                <div class="flex">
                    <button class="add-to-cart-button">
                        <img class="add-to-cart-button__cart-img" src="img/icons/add-to-cart.svg">
                        <img class="add-to-cart-button__add-img" src="img/icons/correct.svg">
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="item item_sm mt-5 px-4">
        <div class="item__inner flex h-full w-full flex-col">
            <a href="#" class="item__brand">
                Schneider Electric
            </a>
            <a href="#" class="item__img-wrap items-start mx-auto mt-2">
                <img src="img/products/product-lg.jpg" class=""
                     alt="BLNRS001011 BLANCA С/У РОЗЕТКА 2К+З, б/ш,16А, 250В, БЕЛЫЙ"
                     title="BLNRS001011 BLANCA С/У РОЗЕТКА 2К+З, б/ш,16А, 250В, БЕЛЫЙ">
            </a>
            <div class="item__bonus mt-2">
                +90 бонусов
            </div>
            <a href="#" class="item__name my-2">
                BLNRS001011 BLANCA С/У РОЗЕТКА 2К+З, б/ш,16А, 250В, БЕЛЫЙ
            </a>
            <div class="item-price whitespace-no-wrap flex justify-between items-end mt-auto">
                <div class="flex flex-col order-last">
                    <div class="item-price__old flex flex-grow justify-end">
                        <span>1999</span><span>₽</span>
                    </div>
                    <div class="flex justify-end leading-none mb-1 mt-2">
                        <span>245 600</span><span>₽</span>
                    </div>
                </div>
                <div class="flex">
                    <button class="add-to-cart-button">
                        <img class="add-to-cart-button__cart-img" src="img/icons/add-to-cart.svg">
                        <img class="add-to-cart-button__add-img" src="img/icons/correct.svg">
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="item item_sm mt-5 px-4">
        <div class="item__inner flex h-full w-full flex-col">
            <a href="#" class="item__brand">
                Schneider Electric
            </a>
            <a href="#" class="item__img-wrap items-start mx-auto mt-2">
                <img src="img/products/product-lg.jpg" class=""
                     alt="BLNRS001011 BLANCA С/У РОЗЕТКА 2К+З, б/ш,16А, 250В, БЕЛЫЙ"
                     title="BLNRS001011 BLANCA С/У РОЗЕТКА 2К+З, б/ш,16А, 250В, БЕЛЫЙ">
            </a>
            <div class="item__bonus mt-2">
                +90 бонусов
            </div>
            <a href="#" class="item__name my-2">
                BLNRS001011 BLANCA С/У РОЗЕТКА 2К+З, б/ш,16А, 250В, БЕЛЫЙ
            </a>
            <div class="item-price whitespace-no-wrap flex justify-between items-end mt-auto">
                <div class="flex flex-col order-last">
                    <div class="item-price__old flex flex-grow justify-end">
                        <span>1999</span><span>₽</span>
                    </div>
                    <div class="flex justify-end leading-none mb-1 mt-2">
                        <span>245 600</span><span>₽</span>
                    </div>
                </div>
                <div class="flex">
                    <button class="add-to-cart-button">
                        <img class="add-to-cart-button__cart-img" src="img/icons/add-to-cart.svg">
                        <img class="add-to-cart-button__add-img" src="img/icons/correct.svg">
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="item item_sm mt-5 px-4">
        <div class="item__inner flex h-full w-full flex-col">
            <a href="#" class="item__brand">
                Schneider Electric
            </a>
            <a href="#" class="item__img-wrap items-start mx-auto mt-2">
                <img src="img/products/product-lg.jpg" class=""
                     alt="BLNRS001011 BLANCA С/У РОЗЕТКА 2К+З, б/ш,16А, 250В, БЕЛЫЙ"
                     title="BLNRS001011 BLANCA С/У РОЗЕТКА 2К+З, б/ш,16А, 250В, БЕЛЫЙ">
            </a>
            <div class="item__bonus mt-2">
                +90 бонусов
            </div>
            <a href="#" class="item__name my-2">
                BLNRS001011 BLANCA С/У РОЗЕТКА 2К+З, б/ш,16А, 250В, БЕЛЫЙ
            </a>
            <div class="item-price whitespace-no-wrap flex justify-between items-end mt-auto">
                <div class="flex flex-col order-last">
                    <div class="item-price__old flex flex-grow justify-end">
                        <span>1999</span><span>₽</span>
                    </div>
                    <div class="flex justify-end leading-none mb-1 mt-2">
                        <span>245 600</span><span>₽</span>
                    </div>
                </div>
                <div class="flex">
                    <button class="add-to-cart-button">
                        <img class="add-to-cart-button__cart-img" src="img/icons/add-to-cart.svg">
                        <img class="add-to-cart-button__add-img" src="img/icons/correct.svg">
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="item item_sm mt-5 px-4">
        <div class="item__inner flex h-full w-full flex-col">
            <a href="#" class="item__brand">
                Schneider Electric
            </a>
            <a href="#" class="item__img-wrap items-start mx-auto mt-2">
                <img src="img/products/product-lg.jpg" class=""
                     alt="BLNRS001011 BLANCA С/У РОЗЕТКА 2К+З, б/ш,16А, 250В, БЕЛЫЙ"
                     title="BLNRS001011 BLANCA С/У РОЗЕТКА 2К+З, б/ш,16А, 250В, БЕЛЫЙ">
            </a>
            <div class="item__bonus mt-2">
                +90 бонусов
            </div>
            <a href="#" class="item__name my-2">
                BLNRS001011 BLANCA С/У РОЗЕТКА 2К+З, б/ш,16А, 250В, БЕЛЫЙ
            </a>
            <div class="item-price whitespace-no-wrap flex justify-between items-end mt-auto">
                <div class="flex flex-col order-last">
                    <div class="item-price__old flex flex-grow justify-end">
                        <span>1999</span><span>₽</span>
                    </div>
                    <div class="flex justify-end leading-none mb-1 mt-2">
                        <span>245 600</span><span>₽</span>
                    </div>
                </div>
                <div class="flex">
                    <button class="add-to-cart-button">
                        <img class="add-to-cart-button__cart-img" src="img/icons/add-to-cart.svg">
                        <img class="add-to-cart-button__add-img" src="img/icons/correct.svg">
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>