<div class="cookie-alert w-full py-4">
    <div class="container">
        <div class="flex items-center -mx-4">
            <div class="cookie-alert__caption flex text-lg font-bold mx-4">
                Мы используем<br> файлы Cookie
            </div>
            <div class="cookie-alert__desc flex flex-grow leading-relaxed text-sm mx-4">
                Чтобы улучшить работу сайта и предоставить вам больше возможностей для его использования. Продолжая использовать сайт вы соглашаетесь с условиями использования файлов cookie
            </div>
            <div class="cookie-alert__button flex justify-end mx-4">
                <div class="input-button h-10 text-xs sm:text-sm font-semibold flex items-center justify-center px-4">
                    <span class="flex w-full h-full items-center justify-center">Согласен</span>
                </div>
            </div>
        </div>
    </div>
</div>