<ul>
    <li class="active">
        <a href="delivery.html">
            Оплата и доставка
        </a>
    </li>
    <li>
        <a href="bonus-program.html">
            Бонусная программа
        </a>
    </li>
    <li>
        <a href="certificates.html">
            Сертификаты
        </a>
    </li>
    <li>
        <a href="../guarantee.html">
            Гарантия
        </a>
    </li>
    <li>
        <a href="oferta.html">
            Оферта
        </a>
    </li>
    <li>
        <a href="politic.html">
            Политка конфиденциальности
        </a>
    </li>
    <li>
        <a href="legal-information.html">
            Правовая информация
        </a>
    </li>
</ul>