<ul class="pagination flex mt-12">
    <li class="pagination__thirst disabled">
        <a href="#">
            <img src="img/icons/pagination-thirst.svg" title="В начало">
        </a>
    </li>
    <li class="pagination__prev disabled">
        <a href="#">Назад</a>
    </li>
    <li class="active">
        <a href="">1</a>
    </li>
    <li>
        <a href="">2</a>
    </li>
    <li>
        <a href="">3</a>
    </li>
    <li>
        <a href="">4</a>
    </li>
    <li>
        <a href="">5</a>
    </li>
    <li class="pagination__next">
        <a href="#">
            Вперёд
        </a>
    </li>
    <li class="pagination__last">
        <a href="#">
            <img src="img/icons/pagination-last.svg" title="В конец">
        </a>
    </li>
</ul>