<div class="right-tools hidden lg:block fixed">
    <div class="right-tools__icons flex flex-col bg-blue relative px-2">
        <div class="flex items-center justify-center border-b border-#D0D0D0 py-4">
            <div class="right-tools__item flex rounded-full justify-center items-center" data-icon="lk" id="lk-entry">
                <img src="img/icons/lk.svg">
            </div>
        </div>
        <div class="flex items-center justify-center border-b border-#D0D0D0 py-4">
            <div class="right-tools__item bg-white flex rounded-full justify-center items-center" data-icon="cart">
                <img src="img/icons/tools-cart.svg">
                <div class="right-tools__cart-count  absolute flex items-center justify-center">
                    6
                </div>
            </div>
        </div>
        <div class="flex items-center justify-center py-4">
            <a href="#" class="right-tools__item flex rounded-full justify-center items-center">
                <img src="img/icons/tools-columns.svg">
            </a>
        </div>
    </div>
    <div data-box="lk" class="right-tools-box hidden cart-content flex flex-col bg-white absolute py-5 px-8">
        <div class="flex items-end">
            <div class="font-semibold text-2xl leading-none mr-4">Личный кабинет</div>
            <div class="close font-normal leading-snug text-sm cursor-pointer hover:opacity-75">(свернуть)</div>
        </div>
        <form class="right-tools-box__lk-inner-top flex flex-col">
            <div class="mt-4">
                <label for="login-input" class="text-sm font-normal text-dark">
                    Логин или адрес электронной почты
                </label>
                <input id="login-input" type="email" name="email"
                       class="input-standart bg-white w-full mt-2"
                       placeholder="ivanov@yandex.ru">
            </div>
            <div class="mt-5">
                <label for="pass-input" class="text-sm font-normal text-dark">
                    Пароль
                </label>
                <input id="pass-input" type="password" name="email"
                       class="input-standart bg-white w-full mt-2"
                       placeholder="****************">
            </div>
            <div class="flex justify-between items-center mt-5">
                <label class="flex items-center">
                    <div class="checkbox path flex-shrink-0">
                        <input class="mr-3" type="checkbox" checked>
                        <svg class="inline-flex mr-4" viewBox="0 0 21 21">
                            <path d="M5,10.75 L8.5,14.25 L19.4,2.3 C18.8333333,1.43333333 18.0333333,1 17,1 L4,1 C2.35,1 1,2.35 1,4 L1,17 C1,18.65 2.35,20 4,20 L17,20 C18.65,20 20,18.65 20,17 L20,7.99769186"></path>
                        </svg>
                    </div>
                    <span class="text-sm">
                        Запомнить меня
                    </span>
                </label>
                <div class="text-sm text-gray">
                    <a href="fogot-pass.html">Забыли пароль?</a>
                </div>
            </div>
            <div>
                <button class="orange-button px-8 h-10 mt-8 text-white font-medium text-sm" type="submit">
                    Войти
                </button>
            </div>
        </form>
        <div class="right-tools-box__lk-inner-bottom border-t border-#D0D0D0 mt-5">
            <div class="mt-5">
                <a href="#" class="white-button text-sm font-medium inline-flex items-center px-4 h-10">
                    Регистрация
                </a>
            </div>
            <div class="text-sm text-gray mt-2">
                Вам будет доступно управление рассылками, использование персональных данных, связь профиля с аккаунтом соцсети и т.д
            </div>
        </div>
    </div>
    <div data-box="cart" class="right-tools-box hidden flex flex-col bg-white absolute py-5 px-8">
        <div class="flex items-end mb-4">
            <div class="font-semibold text-2xl leading-none mr-4">Корзина</div>
            <div class="close font-normal leading-snug text-sm cursor-pointer hover:opacity-75">(свернуть)</div>
        </div>
        <div class="right-tools-box__cart-inner flex flex-col pr-5">
            <div class="cart-content-item flex items-start mt-5">
                <a href="#" class="cart-content-item__img-wrap items-start flex-shrink-0 hover:opacity-75 mr-4 md:mr-8">
                    <img src="img/products/product-md.jpg" alt="название" title="название">
                </a>
                <div class="flex flex-grow flex-col">
                    <a href="#" class="cart-content-item__brand text-xs sm:text-base text-text-gray">
                        Schneider Electric
                    </a>
                    <a href="#" class="cart-content-item__name w-11/12 text-sm md:text-lg font-normal mt-1">
                        Розетка без заземления Schneider Electric Atlas Design 16А, бежевая ATN000241
                    </a>
                    <div class="flex flex-wrap items-end leading-none -mx-2 mt-2">
                        <div class="flex w-full sm:w-auto items-end px-2">
                            <div class="text-3xl font-semibold mr-4">
                                163 ₽
                            </div>
                            <div class="text-gray line-through mr-2">
                                63 ₽
                            </div>
                            <div class="text-gray">
                                (3 шт.)
                            </div>
                        </div>
                        <form class="cart-content-item__controls flex sm:ml-auto mt-4 sm:mt-0 px-2">
                            <div class="cart-content-item__remove-one border border-#D0D0D0 flex items-center justify-center cursor-pointer hover:opacity-75 w-10 h-10">
                                <svg width="9" height="2" viewBox="0 0 9 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M8.18475 1.552H0.81675V0.352H8.18475V1.552Z" fill="black"/>
                                </svg>
                            </div>
                            <input value="1" type="text" class="border border-#D0D0D0 flex pl-3 py-1 w-10 h-10 -ml-px">
                            <div
                                    class="cart-content-item__add-one border border-#D0D0D0 flex items-center justify-center cursor-pointer hover:opacity-75 w-10 h-10 -ml-px mr-4">
                                <svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M10.6629 6.424H6.07891V10.768H4.90291V6.424H0.318906V5.248H4.87891V0.927999H6.07891V5.248H10.6629V6.424Z" fill="black"/>
                                </svg>
                            </div>
                            <div class="cart-content-item__delete border border-#D0D0D0 flex items-center justify-center cursor-pointer hover:opacity-75 w-10 h-10">
                                <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M4.8125 4.8125L5.67188 18.5625C5.7127 19.357 6.29062 19.9375 7.04688 19.9375H14.9531C15.7124 19.9375 16.2796 19.357 16.3281 18.5625L17.1875 4.8125"
                                          stroke="black" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M3.4375 4.8125H18.5625" stroke="black" stroke-miterlimit="10" stroke-linecap="round"/>
                                    <path d="M8.25 4.8125V3.09375C8.24961 2.95822 8.27601 2.82394 8.3277 2.69864C8.37938 2.57335 8.45533 2.4595 8.55117 2.36367C8.64701 2.26783 8.76085 2.19188 8.88614 2.14019C9.01144 2.08851 9.14572 2.06211 9.28126 2.0625H12.7188C12.8543 2.06211 12.9886 2.08851 13.1139 2.14019C13.2392 2.19188 13.353 2.26783 13.4489 2.36367C13.5447 2.4595 13.6206 2.57335 13.6723 2.69864C13.724 2.82394 13.7504 2.95822 13.75 3.09375V4.8125"
                                          stroke="black" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M11 7.5625V17.1875" stroke="black" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M7.90625 7.5625L8.25 17.1875" stroke="black" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M14.0938 7.5625L13.75 17.1875" stroke="black" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="cart-content-item flex items-start mt-5">
                <a href="#" class="cart-content-item__img-wrap items-start flex-shrink-0 hover:opacity-75 mr-4 md:mr-8">
                    <img src="img/products/product-md.jpg" alt="название" title="название">
                </a>
                <div class="flex flex-grow flex-col">
                    <a href="#" class="cart-content-item__brand text-xs sm:text-base text-text-gray">
                        Schneider Electric
                    </a>
                    <a href="#" class="cart-content-item__name w-11/12 text-sm md:text-lg font-normal mt-1">
                        Розетка без заземления Schneider Electric Atlas Design 16А, бежевая ATN000241
                    </a>
                    <div class="flex flex-wrap items-end leading-none -mx-2 mt-2">
                        <div class="flex w-full sm:w-auto items-end px-2">
                            <div class="text-3xl font-semibold mr-4">
                                163 ₽
                            </div>
                            <div class="text-gray line-through mr-2">
                                63 ₽
                            </div>
                            <div class="text-gray">
                                (3 шт.)
                            </div>
                        </div>
                        <form class="cart-content-item__controls flex sm:ml-auto mt-4 sm:mt-0 px-2">
                            <div class="cart-content-item__remove-one border border-#D0D0D0 flex items-center justify-center cursor-pointer hover:opacity-75 w-10 h-10">
                                <svg width="9" height="2" viewBox="0 0 9 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M8.18475 1.552H0.81675V0.352H8.18475V1.552Z" fill="black"/>
                                </svg>
                            </div>
                            <input value="1" type="text" class="border border-#D0D0D0 flex pl-3 py-1 w-10 h-10 -ml-px">
                            <div
                                    class="cart-content-item__add-one border border-#D0D0D0 flex items-center justify-center cursor-pointer hover:opacity-75 w-10 h-10 -ml-px mr-4">
                                <svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M10.6629 6.424H6.07891V10.768H4.90291V6.424H0.318906V5.248H4.87891V0.927999H6.07891V5.248H10.6629V6.424Z" fill="black"/>
                                </svg>
                            </div>
                            <div class="cart-content-item__delete border border-#D0D0D0 flex items-center justify-center cursor-pointer hover:opacity-75 w-10 h-10">
                                <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M4.8125 4.8125L5.67188 18.5625C5.7127 19.357 6.29062 19.9375 7.04688 19.9375H14.9531C15.7124 19.9375 16.2796 19.357 16.3281 18.5625L17.1875 4.8125"
                                          stroke="black" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M3.4375 4.8125H18.5625" stroke="black" stroke-miterlimit="10" stroke-linecap="round"/>
                                    <path d="M8.25 4.8125V3.09375C8.24961 2.95822 8.27601 2.82394 8.3277 2.69864C8.37938 2.57335 8.45533 2.4595 8.55117 2.36367C8.64701 2.26783 8.76085 2.19188 8.88614 2.14019C9.01144 2.08851 9.14572 2.06211 9.28126 2.0625H12.7188C12.8543 2.06211 12.9886 2.08851 13.1139 2.14019C13.2392 2.19188 13.353 2.26783 13.4489 2.36367C13.5447 2.4595 13.6206 2.57335 13.6723 2.69864C13.724 2.82394 13.7504 2.95822 13.75 3.09375V4.8125"
                                          stroke="black" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M11 7.5625V17.1875" stroke="black" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M7.90625 7.5625L8.25 17.1875" stroke="black" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M14.0938 7.5625L13.75 17.1875" stroke="black" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="cart-content-item flex items-start mt-5">
                <a href="#" class="cart-content-item__img-wrap items-start flex-shrink-0 hover:opacity-75 mr-4 md:mr-8">
                    <img src="img/products/product-md.jpg" alt="название" title="название">
                </a>
                <div class="flex flex-grow flex-col">
                    <a href="#" class="cart-content-item__brand text-xs sm:text-base text-text-gray">
                        Schneider Electric
                    </a>
                    <a href="#" class="cart-content-item__name w-11/12 text-sm md:text-lg font-normal mt-1">
                        Розетка без заземления Schneider Electric Atlas Design 16А, бежевая ATN000241
                    </a>
                    <div class="flex flex-wrap items-end leading-none -mx-2 mt-2">
                        <div class="flex w-full sm:w-auto items-end px-2">
                            <div class="text-3xl font-semibold mr-4">
                                163 ₽
                            </div>
                            <div class="text-gray line-through mr-2">
                                63 ₽
                            </div>
                            <div class="text-gray">
                                (3 шт.)
                            </div>
                        </div>
                        <form class="cart-content-item__controls flex sm:ml-auto mt-4 sm:mt-0 px-2">
                            <div class="cart-content-item__remove-one border border-#D0D0D0 flex items-center justify-center cursor-pointer hover:opacity-75 w-10 h-10">
                                <svg width="9" height="2" viewBox="0 0 9 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M8.18475 1.552H0.81675V0.352H8.18475V1.552Z" fill="black"/>
                                </svg>
                            </div>
                            <input value="1" type="text" class="border border-#D0D0D0 flex pl-3 py-1 w-10 h-10 -ml-px">
                            <div
                                    class="cart-content-item__add-one border border-#D0D0D0 flex items-center justify-center cursor-pointer hover:opacity-75 w-10 h-10 -ml-px mr-4">
                                <svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M10.6629 6.424H6.07891V10.768H4.90291V6.424H0.318906V5.248H4.87891V0.927999H6.07891V5.248H10.6629V6.424Z" fill="black"/>
                                </svg>
                            </div>
                            <div class="cart-content-item__delete border border-#D0D0D0 flex items-center justify-center cursor-pointer hover:opacity-75 w-10 h-10">
                                <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M4.8125 4.8125L5.67188 18.5625C5.7127 19.357 6.29062 19.9375 7.04688 19.9375H14.9531C15.7124 19.9375 16.2796 19.357 16.3281 18.5625L17.1875 4.8125"
                                          stroke="black" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M3.4375 4.8125H18.5625" stroke="black" stroke-miterlimit="10" stroke-linecap="round"/>
                                    <path d="M8.25 4.8125V3.09375C8.24961 2.95822 8.27601 2.82394 8.3277 2.69864C8.37938 2.57335 8.45533 2.4595 8.55117 2.36367C8.64701 2.26783 8.76085 2.19188 8.88614 2.14019C9.01144 2.08851 9.14572 2.06211 9.28126 2.0625H12.7188C12.8543 2.06211 12.9886 2.08851 13.1139 2.14019C13.2392 2.19188 13.353 2.26783 13.4489 2.36367C13.5447 2.4595 13.6206 2.57335 13.6723 2.69864C13.724 2.82394 13.7504 2.95822 13.75 3.09375V4.8125"
                                          stroke="black" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M11 7.5625V17.1875" stroke="black" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M7.90625 7.5625L8.25 17.1875" stroke="black" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M14.0938 7.5625L13.75 17.1875" stroke="black" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="cart-content-item flex items-start mt-5">
                <a href="#" class="cart-content-item__img-wrap items-start flex-shrink-0 hover:opacity-75 mr-4 md:mr-8">
                    <img src="img/products/product-md.jpg" alt="название" title="название">
                </a>
                <div class="flex flex-grow flex-col">
                    <a href="#" class="cart-content-item__brand text-xs sm:text-base text-text-gray">
                        Schneider Electric
                    </a>
                    <a href="#" class="cart-content-item__name w-11/12 text-sm md:text-lg font-normal mt-1">
                        Розетка без заземления Schneider Electric Atlas Design 16А, бежевая ATN000241
                    </a>
                    <div class="flex flex-wrap items-end leading-none -mx-2 mt-2">
                        <div class="flex w-full sm:w-auto items-end px-2">
                            <div class="text-3xl font-semibold mr-4">
                                163 ₽
                            </div>
                            <div class="text-gray line-through mr-2">
                                63 ₽
                            </div>
                            <div class="text-gray">
                                (3 шт.)
                            </div>
                        </div>
                        <form class="cart-content-item__controls flex sm:ml-auto mt-4 sm:mt-0 px-2">
                            <div class="cart-content-item__remove-one border border-#D0D0D0 flex items-center justify-center cursor-pointer hover:opacity-75 w-10 h-10">
                                <svg width="9" height="2" viewBox="0 0 9 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M8.18475 1.552H0.81675V0.352H8.18475V1.552Z" fill="black"/>
                                </svg>
                            </div>
                            <input value="1" type="text" class="border border-#D0D0D0 flex pl-3 py-1 w-10 h-10 -ml-px">
                            <div
                                    class="cart-content-item__add-one border border-#D0D0D0 flex items-center justify-center cursor-pointer hover:opacity-75 w-10 h-10 -ml-px mr-4">
                                <svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M10.6629 6.424H6.07891V10.768H4.90291V6.424H0.318906V5.248H4.87891V0.927999H6.07891V5.248H10.6629V6.424Z" fill="black"/>
                                </svg>
                            </div>
                            <div class="cart-content-item__delete border border-#D0D0D0 flex items-center justify-center cursor-pointer hover:opacity-75 w-10 h-10">
                                <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M4.8125 4.8125L5.67188 18.5625C5.7127 19.357 6.29062 19.9375 7.04688 19.9375H14.9531C15.7124 19.9375 16.2796 19.357 16.3281 18.5625L17.1875 4.8125"
                                          stroke="black" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M3.4375 4.8125H18.5625" stroke="black" stroke-miterlimit="10" stroke-linecap="round"/>
                                    <path d="M8.25 4.8125V3.09375C8.24961 2.95822 8.27601 2.82394 8.3277 2.69864C8.37938 2.57335 8.45533 2.4595 8.55117 2.36367C8.64701 2.26783 8.76085 2.19188 8.88614 2.14019C9.01144 2.08851 9.14572 2.06211 9.28126 2.0625H12.7188C12.8543 2.06211 12.9886 2.08851 13.1139 2.14019C13.2392 2.19188 13.353 2.26783 13.4489 2.36367C13.5447 2.4595 13.6206 2.57335 13.6723 2.69864C13.724 2.82394 13.7504 2.95822 13.75 3.09375V4.8125"
                                          stroke="black" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M11 7.5625V17.1875" stroke="black" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M7.90625 7.5625L8.25 17.1875" stroke="black" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M14.0938 7.5625L13.75 17.1875" stroke="black" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex flex-col mt-8">
            <div class="flex text-xl font-semibold">
                6 товаров на сумму 141 234 ₽
            </div>
            <div class="flex mt-8">
                <button class="orange-button flex items-center text-white text-sm font-medium px-5 h-10 mr-4">Оформить заказ</button>
                <button class="white-button flex items-center text-dark text-sm font-medium px-5 h-10 mr-4 close">Продолжить покупки</button>
            </div>
        </div>
    </div>
</div>