<div class="sidebar flex flex-col flex-shrink-0 w-full lg:w-3/12 px-4">
    <div class="sidebar-links border border-#D0D0D0">
        <ul>
            <li class="active">
                <a href="#">
                    Личные данные
                </a>
            </li>
            <li>
                <a href="#">
                    Мои заказы
                </a>
            </li>
            <li>
                <a href="#">
                    Мои бонусы
                </a>
            </li>
            <li>
                <a href="#">
                    Выход
                </a>
            </li>
        </ul>
    </div>
</div>