
// @import '../../bower_components/arcticModal/arcticmodal/jquery.arcticmodal';
@import '../../node_modules/magnific-popup/dist/magnific-popup';
@import "node_modules/slick-carousel/slick/slick.scss";
@import "node_modules/slick-carousel/slick/slick-theme.scss";
@import "../../node_modules/fotorama/fotorama";

$root-font-size: 16;

@function s($size) {
  @return $size / $root-font-size * 1rem;
}

.slick-slide {
  &:focus {
    outline: none;
  }
}

.arrows-container {

  &__arrow {
    width: 2rem;
    height: 2rem;
    border: s(1) solid #D0D0D0;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: s(8);
    padding-right: s(8);
    background-color: #fff;

    @media (min-width: 576px) {
      width: 2.5rem;
      height: 2.5rem;
    }

    &:hover {
      border: s(1) solid #2B6CB0;
    }

    &:first-child {
      margin-right: s(8);
    }
  }
}

.fotorama__stage {
  border: 1px solid #D0D0D0;
}

.fotorama__nav {
  text-align: left;
}

.fotorama__thumb-border {
  border-color: #FE7F2D;
}
